In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from pydataset import data

In [4]:
mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

I want to build a complete function to test anova entirely

I will start with what I have

# ANOVA

In [21]:
def conclude_anova(theoretical_mean, group1, group2):
    α = 0.05
    tstat, pval = stats.f_oneway(theoretical_mean, group1, group2)
    print(f'stat')
    print(tstat)
    print(f'P-Value')
    print(pval)
    print('----')
    if pval < α:
        print("We can reject the null hypothesis.")
    else:
        print('We fail to reject the null hypothesis.')

## Manipulating df to contain average mileage column

In [10]:
mpg['avg_mileage'] = stats.hmean(mpg[['cty', 'hwy']], axis = 1).round(2)

In [11]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,22.21
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,24.36
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,24.31
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,24.71
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,19.81

Assume that the time it takes to order and eat the burger special at the Esquire is normally distributed with a mean of 40 minutes and a standard deviation of 15 minutes. If it takes 5 minutes to walk from Codeup to the restaurant, what is the likelihood that you can go eat at The Esquire during your lunch hour and not be late back to class?

In [24]:
μ = 40
σ = 15
travel_time = 5
time_to_eat = 60

max_eat = (time_to_eat - travel_time)
max_eat

55

In [26]:
stats.norm(μ, σ).cdf(max_eat)*100

84.1344746068543

the clerks at the Walgreens on Houston Street have to tell every customer to take the survey that's printed on their receipt. Walgreens knows that only 10% of customers complete the survey. If Walgreens has 618 customers today, what is the likelihood that 70 or more people take the survey?

In [32]:
n_trials = 618 
success_rate = .10

cust_prob = stats.binom(n_trials,success_rate)
cust_prob.sf(69)

# want the probability of 70+ surveying

0.1510752871020976